<a href="https://colab.research.google.com/github/Saxon-account/Saxon-account/blob/main/python_ai_part1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In this tutorial, we will cover Basic Python in this Google Colab environment.



1.   Basic data types (Containers, Lists, Dictionaries)
2.   Functions
3.   Classes

# A Brief Note on Python Versions
As of Janurary 1, 2020, Python has officially dropped support for python2. We'll be using Python 3.7 for this iteration of the course. You can check your Python version at the command line by running `python --version`. In Colab, we can enforce the Python version by clicking `Runtime -> Change Runtime Type` and selecting `python3`. Note that as of April 2020, Colab uses Python 3.6.9 which should run everything without any errors.

In [ ]:
# Check python version

!python --version

Python 3.10.12

* Python is a high-level, *dynamically typed* multiparadigm programming language.
* Python code is often said to be *almost like pseudocode*, since it allows you to express very powerful ideas in very few lines of code while being very readable.

As an example, here is an implementation of the classic quicksort algorithm in Python:

**What do we mean by dynamically typed programming language?**

*Datatype assigned to a variable at runtime based on variable value*

In [ ]:
def quicksort(arr):
    if len(arr) <= 1:
        return arr
    pivot = arr[len(arr) // 2]
    left = [x for x in arr if x < pivot]
    middle = [x for x in arr if x == pivot]
    right = [x for x in arr if x > pivot]
    return quicksort(left) + middle + quicksort(right)

print(quicksort([3,6,8,10,1,2,1]))

[1, 1, 2, 3, 6, 8, 10]

# Basic Data Types

## Numbers

Integers and floats work as you would expect from other languages like Java:

In [ ]:
# create a variable x, initialize it to 10
# print x and its data type

x = 10

In [ ]:
# Addition - add 1 to x and print

print(x+1)

# Subtraction - subtract 1 from x and print

print(x-1)

# Multiplication - multiply x by 2 and print

print(x*2)

# Exponentiation - print the result of x to the power of 2

print(pow(x,2))

11
9
20
100

In [ ]:
# Increment x by 2, save it to itself and print

x = x+2
print(x)

# Decrement x by 2, save it to itself and print

x = x-2
print(x)

# Multiply x by 2, save it to itself and print

x = x*2
print(x)

# Divide x by 2, save it to itself and print

x = x/2
print(x)

12
10
20
10.0

In [ ]:
# Working with floats
y = 2.5

# print type of y

print(type(y))

print(y, y + 1, y * 2, y ** 2)

<class 'float'>
2.5 3.5 5.0 6.25

Note that unlike many languages, Python does not have unary increment (x++) or decrement (x--) operators.

## Booleans

Python implements all of the usual operators for Boolean logic, but uses English words rather than symbols (&&, ||, etc.):

In [ ]:
t, f = True, False

# print type of t and f

print(type(t))
print(type(f))

<class 'bool'>
<class 'bool'>

In [ ]:
# Logical AND

print(t and f)

# Logical OR

print(t or f)

# Logical NOT

print(not f)

# Logical XOR

print(f != t)

False
True
True
True

## Strings

In [ ]:
hello = 'hello'   # String literals can use single quotes
world = "world"   # or double quotes; it does not matter

# print hello and its length

print(hello, len(hello))

hello 5

In [ ]:
hw12 = '{} {} {}'.format(hello, world, 12)  # string formatting
print(hw12)

hello world 12

String objects have a bunch of useful methods; for example:

In [ ]:
s = "hello"
# Capitalize a string

print(s.capitalize())

# Convert a string to uppercase; prints "HELLO"

print(s.upper())

# Right-justify a string, padding with spaces

print(s.rjust(50))

# Center a string, padding with spaces

print(s.center(7))

# Replace all instances of one substring with another

print(s.replace("h", "e"))

# Strip leading and trailing whitespace

print(s.strip())

Hello
HELLO
                                             hello
 hello
eello
hello

# Containers

## Lists

A list is the Python equivalent of an array, but is resizeable and can contain elements of different types:

In [ ]:
xs = [3, 1, 2]   # Create a list

# print the list

print(xs)

# print the length of the list

print(len(xs))

# print the second element in the list

print(xs[1])

# Negative indices count from the end of the list; print the element "2"

print(xs[-1])

# Lists can contain elements of different types

t = True
xs.insert(3, t)

[3, 1, 2]
3
1
2

In [ ]:
# Lists can contain elements of different types

# Set element at index 2 of the list to a string 'foo'

xs[2] = 'foo'

print(xs)

[3, 1, 'foo', True]

In [ ]:
# Add a new element - string 'bar' - to the end of the list

xs.append('bar')

print(xs)

[3, 1, 'foo', True, 'bar']

In [ ]:
# Remove and return the last element of the list

print(xs.pop())

print(x, xs)

bar
10.0 [3, 1, 'foo', True]

## Slicing

In addition to accessing list elements one at a time, Python provides concise syntax to access sublists; this is known as slicing:

In [ ]:
# range is a built-in function that creates a list of integers
nums = list(range(5))
print(nums)

[0, 1, 2, 3, 4]

In [ ]:
# Get a slice from index 2 to 4 (exclusive); prints "[2, 3]"

print(nums[2:4])

[2, 3]

In [ ]:
# Get a slice from index 2 to the end; prints "[2, 3, 4]"

print(nums[2:])

[2, 3, 4]

In [ ]:
# Get a slice from the start to index 2 (exclusive); prints "[0, 1]"

print(nums[:2])

[0, 1]

In [ ]:
# Get a slice of the whole list; prints ["0, 1, 2, 3, 4]"

print(nums[:])

[0, 1, 2, 3, 4]

In [ ]:
# Slice indices can be negative; prints ["0, 1, 2, 3]"

print(nums[:-1])

[0, 1, 2, 3]

In [ ]:
nums[2:4] = [8, 9] # Assign a new sublist to a slice
print(nums)         # Prints "[0, 1, 8, 9, 4]"

[0, 1, 8, 9, 4]

## Loops

You can loop over the elements of a list like this:

In [ ]:
animals = ['cat', 'dog', 'monkey']
for animal in animals:
    print(animal)

cat
dog
monkey

If you want access to the index of each element within the body of a loop, use the built-in `enumerate` function:

In [ ]:
animals = ['cat', 'dog', 'monkey']
for idx, animal in enumerate(animals):
    print(idx+1, animals[idx])

1 cat
2 dog
3 monkey

## List comprehensions

When programming, frequently we want to transform one type of data into another. As a simple example, consider the following code that computes square numbers:

In [ ]:
nums = [0, 1, 2, 3, 4]
squares = []
for x in nums:
    squares.append(x ** 2)
print(squares)

[0, 1, 4, 9, 16]

You can make this code simpler using a list comprehension:

In [ ]:
nums = [0, 1, 2, 3, 4]
squares = [nums]

print(squares)

[[0, 1, 2, 3, 4]]

List comprehensions can also contain conditions:

In [ ]:
nums = [0, 1, 2, 3, 4]
even_squares = []
for x in nums:
  if x % 2 == 0:
    even_squares.append(x)

print(even_squares)

[0, 2, 4]

## Dictionary

A dictionary stores (key, value) pairs, similar to a `Map` in Java or an object in Javascript. You can use it like this:

In [ ]:
d = {'cat': 'cute', 'dog': 'furry'}  # Create a new dictionary with some data

# Get an entry from a dictionary; prints "cute"

print(d.get('cat'))

# Check if a dictionary has a given key; prints "True"

key = 'dog'
for x in d:
  if x == key:
    {
        print("True")
    }

cute
True

In [ ]:
d['fish'] = 'wet'    # Set an entry in a dictionary
print(d['fish'])      # Prints "wet"

wet

In [ ]:
print(d['monkey'])  # KeyError: 'monkey' not a key of d

KeyError: 'monkey'

In [ ]:
print(d.get('monkey', 'N/A'))  # Get an element with a default; prints "N/A"
print(d.get('fish', 'N/A'))    # Get an element with a default; prints "wet"

In [ ]:
del d['fish']        # Remove an element from a dictionary
print(d.get('fish', 'N/A')) # "fish" is no longer a key; prints "N/A"

It is easy to iterate over the keys in a dictionary:

In [ ]:
d = {'person': 2, 'cat': 4, 'spider': 8}
for animal, legs in d.items():
    print('A {} has {} legs'.format(animal, legs))

Dictionary comprehensions: These are similar to list comprehensions, but allow you to easily construct dictionaries. For example:

In [ ]:
nums = [0, 1, 2, 3, 4]
even_num_to_square = {x: x ** 2 for x in nums if x % 2 == 0}
print(even_num_to_square)

In [ ]:
# Print odd numbers squares using dictionary comprehensions

odd_num_to_square = {x: x**2 for x in nums if x % 2 != 0}
print(odd_num_to_square)

# Functions

Python functions are defined using the `def` keyword. For example:

In [ ]:
nums = [-1, 0, 1]

# Function to check the sign of the number

def sign(num):

    if num < 0:
      print("NEGATIVE")
    else:
      print("POSITIVE")

for x in nums:
    print(sign(x))

We will often define functions to take optional keyword arguments, like this:

In [ ]:
def hello(name, loud=False):
    if loud:
        print('HELLO, {}'.format(name.upper()))
    else:
        print('Hello, {}!'.format(name))

hello('Bob')
hello('Fred', loud=True)

`main()` function

`def main():`

This defines the `main` function where the primary logic of your program will reside. You can include any code or function calls here.

`if __name__ == "__main__":`

This conditional statement checks if the script is being run directly (not imported as a module).
`__name__` is a special variable that Python sets to `"__main__"` when the script is run directly. If the script is imported into another script, `__name__` will be set to the script's filename instead.
If the script is being run directly, the `main()` function is called.

In [ ]:
def main():

    print("This is the main function.")

    # Main code goes here
    hello('Bob')
    hello('Fred', loud=True)

if __name__ == "__main__":
    main()

# Classes

The syntax for defining classes in Python is straightforward:

In [ ]:
class Greeter:

    # Constructor
    def __init__(self, name):
        self.name = name  # Create an instance variable

    # Instance method
    def greet(self, loud=False):
        if loud:
          print('HELLO, {}'.format(self.name.upper()))
        else:
          print('Hello, {}!'.format(self.name))

g = Greeter('Fred')  # Construct an instance of the Greeter class
g.greet()            # Call an instance method; prints "Hello, Fred"
g.greet(loud=True)   # Call an instance method; prints "HELLO, FRED!"

# Student Tracker Assignment:

Create a simple program that allows a user to track and display student grades. This assignment focuses on the use of lists, dictionaries, and basic class structure.

Define a Student Class:

The class should have the following attributes:


*   `name` (string): The student's name.
*   `grades` (dictionary): A dictionary where the keys are subjects and the values are grades.

The class should have methods to:
* Add or update a grade for a subject.
* Display the student's information, including their grades.

In [ ]:
class Student:

  def __init__(self, name, grades):
    self.name = name
    self.grades = grades

  def update(self, subject, num):
    self.grades[subject] = num

  def displayInfo(self):
    print("Student: ", self.name)
    print(self.grades)


s = Student("Pablo", {"Math": 98, "Religion": 3, "Computer Science": 0})
s.displayInfo()
s.update("Math", 50)
s.displayInfo()

Student:  Pablo
{'Math': 98, 'Religion': 3, 'Computer Science': 0}
Student:  Pablo
{'Math': 50, 'Religion': 3, 'Computer Science': 0}

Create a Function to Manage Students:

This function will:
1. Create a list of Student objects.
2. Add grades for each student.
3. Display all students' information.

In [ ]:
def manage_students():

  mark = Student("Mark", {"Math" : 3, "Science" : 45, "English" : 89})
  notMark = Student("Not Mark", {"Math" : 0, "Science" : 70, "English" : 50})
  bob = Student("Bob", {"Math" : 23, "Science" : 43, "English" : 60})
  students = [mark, notMark, bob]


  for x in students:
    x.displayInfo()

Implement the Main Program:

Call the `manage_students` function to run the program.

In [ ]:
if __name__ == "__main__":
    manage_students()

Student:  Mark
{'Math': 3, 'Science': 45, 'English': 89}
Student:  Not Mark
{'Math': 0, 'Science': 70, 'English': 50}
Student:  Bob
{'Math': 23, 'Science': 43, 'English': 60}